/* X-Small */
@media only screen and (max-width: 400px){
    header{
        font-size: .99rem !important;
    }
    .form-group > input{
        height: 40px;
        font-size: 1rem;
    }
    .table{
        width: 98%;
    }
    .theory-content a{
        height: 50px;
    }
    
}
@media only screen and (max-width: 420px){
    :root{
        --eng-katta-size: 1.5rem;
        --katta-size: 1.2rem;
    }
    .form{
        width: 90%;
    }

    /* MAIN  */
    .main-content{
        padding: 1rem;
    }
    .slider{
        width: 100%;
    }
    .menu-item{
        width: 45%;
    }
    .img-box{
        height: auto !important;
    }
    .card.one, .card.two{
        height: auto;
    }

    /* SETTINGS  */
    .section{
        margin-top: 50px;
    }
    .settings-content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    }
    
    .btn{
        padding: 0.7rem;
        box-shadow: 3px 3px 1px 0px black;
    }
}
@media only screen and (min-width: 480px){
    .start.box{
        max-width: 480px;
    }
    header{
        font-size: 1rem !important;
    }
}
@media only screen and (min-width: 1000px){
    :root{
        --eng-katta-size: 2.8rem;
        --katta-size: 1.8rem;
    }
    .slider, .navbar ul{
        width: 600px;
    }
    .menu-item{
        width: 290px;
    }
    .card.one{
        height: 280px;
    }
    .card.two{
        height: 230px;
    }
    .card.one > .img-box{
        height: 220px;
    }
    .card.two > .img-box{
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar{
        height: 100px;
    }
    .card{
        font-size: 1.4rem;
    }


    .table{
        width: 600px;
    }
    .theory-content a{
        font-size: 1.3rem;
        height: 70px;
    }
    .form{
        width: 600px;
    }
    .form-group > input{
        height: 60px;
    }

}