.header-back{
    align-items: center;
    padding-left: 1.5rem;
    font-size: 1.3rem;
}
.section{
    margin-top: 75px;
}
.settings-content h1{
    font-size: var(--eng-katta-size);
}
.settings-content label{
    font-size: var(--katta-size);
}
