.box{
    margin: 0;
    padding: 2rem;
}
.img_box{
    margin-top: 1rem;
    border: 2px solid #000000;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.img_box img{
    width: 100%;
}
.content{
    margin-bottom: 3rem;
    flex-direction: column;
}
.content p > span{
    font-family: 'Rampart One', cursive;
    font-size: calc(var(--eng-katta-size) - .1rem);
}
.content p{
    z-index: 1;
    font-weight: 900;
    font-size: calc(var(--eng-katta-size) + .3rem);
}

.button_box{
    margin-top: 2rem;
    flex-direction: column;
}
.sig_in,.sig_up{
    margin: .5rem 0rem;
    font-weight: 500;
}
.sig_in,.sig_up{
    width: 100%;
    border: 2px solid #110033;
    background-color: #a4f4a8;
    color: #110033;
    box-shadow: 2px 2px 1px 0px black;
    transition: .2s all;
}
.sig_up{
    background-color: #a4f0f4;
}
.sig_in:hover,.sig_up:hover{
    margin-top: 5px;
    margin-left: 4px;
    box-shadow: none;
}