@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200;300;500&family=Rampart+One&display=swap');
:root{
    --eng-katta-size: 2.2rem;
    --katta-size: 1.5rem;

    --border-radius: .7rem;
    --body-color: #FDF9EF;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--body-color);
}
*{
    font-family: 'Asap Condensed', sans-serif;
}
header{
    position: relative;
    font-size: 1.355rem !important;
}
.container{
    min-height: 100vh;
}
.border{
    border: 1px solid black;
}
.flex{
    display: flex;
}
.flex.center{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.j-center{
    justify-content: center;
}
.a-center{
    align-items: center;
}
.btn{
    border: none;
    border-radius: var(--border-radius);
    padding: 1rem;
    font-size: var(--katta-size);
}
.btn:hover{
    cursor: pointer;
}
.link{
    color: rgb(0, 166, 255);
}
.left{
    position: absolute;
    left: 1rem;
}
.icon{
    margin-right: .4rem;
}
.section{
    width: 100%;
}
.box-shadow{
    box-shadow: 2px 2px 1px 0px black;
}
.red-text{
    color:red;
    
}
.green-text{
    color: rgb(0, 168, 45);
}
.wiew{
    padding-top: 50px;
}
.pdf-view{width: 100%;}
a{
    text-decoration: none;
    color: black;
}

section{
    padding-bottom: 75px;
}